---
import Layout from '../layouts/Layout.astro';

---
<Layout title="Delete data">
	<main class="flex flex-col h-screen items-center py-8 ">
    <div class="px-4 sm:px-8 max-w-4xl ">
      <h1 >Request Data Deletion</h1>
      <p  class="pb-6">Here you can make a request to delete your account data from the "Pingmu - Learn Chinese" app. 
        Please send us an email requesting to delete your account data. 
        We aim to fulfill your request within a month.
      </p>
      <form id="deleteForm" action="mailto:pingmu.languages@gmail.com?subject=Pingmu%20Support%20-%20Delete%20data%20request&body=I%20hereby%20request%20the%20deletion%20of%20all%20my%20user%20data%20associated%20with%20my%20Pingmu%20account.%20Please%20confirm%20the%20completion%20of%20this%20request%20at%20your%20earliest%20convenience.%20Thank%20you." method="post">
        <button class="w-fit text-background bg-primary hover:bg-primary-hover focus:outline-none focus:shadow-outline" type="submit">
          Send Email
        </button>
      </form>
    </main>
</Layout>