---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'

---

<Layout title="Pingmu - Learn Chinese">
	<section class="relative h-screen sm:h-full  px-3 bg-background bg-stars-sm md:bg-stars-lg py-4 ">
		<div class="absolute inset-0">
			<div class="absolute inset-0 bg-gradient-green"></div>
		</div>
		<Hero/>
	</section>
</Layout>
