---
import HeroLarge from "./HeroLarge.astro";
---

<div class="relative z-10 h-full grid md:hidden content-center gap-y-12 md: items-center justify-center text-center px-2">
    <div class="flex w-full justify-center ">
        <img
        src="./pingmu-logo.svg" alt="" class="h-40"
        />
    </div>
    
    <div class="" >
        <h1 class="text-4xl text-textPrimary font-semibold mb-2">Turn Chinese videos into learning <span class="text-primary">opportunities</span>
            
        </h1>
        <p class="text-base text-textSecondary font-light">
            Enjoy your language learning journey with Pingmu's immersive videos and powerful learning tools
        </p>
        <br>
        <br>
        
        <a class="flex justify-center" href='https://play.google.com/store/apps/details?id=com.pingmu.pingmu_player&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'  target="_blank">
            <img class="h-20" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
        </a>
    </div>
</div>
<HeroLarge/>
