<div class="hidden relative z-10 h-full sm:flex sm:flex-row justify-center gap-4 px-4">
    <div class="flex flex-col flex-1  p-4 h-full  justify-center max-w-lg " >
        <h1 class="text-5xl text-textPrimary font-semibold ps-3 pb-4">Turn Chinese videos into learning 
            <span class="text-primary">opportunities</span>
        </h1>
        <p class="text-lg text-textSecondary font-light ps-3 pb-6">
            Enjoy your language learning journey with Pingmu's immersive videos and powerful learning tools
        </p>
        <br>
        <br>
        
        <a class="w-fit " href='https://play.google.com/store/apps/details?id=com.pingmu.pingmu_player&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'  target="_blank">
            <img class="h-20" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
        </a>
    </div>
    <div class="h-full flex flex-1 max-w-lg justify-center content-center items-center ">
        <img src="./hero.png" alt="Large Image" class=" w-full max-w-md">
    </div>

</div>