<!--  sticky: fixed top-0 z-50 bg-background border-b-solid border-gray-800 border-b-2 -->
<nav class="container mx-auto fixed top-0 z-50 bg-background bg-opacity-90 w-full ">
	<div class="flex justify-between items-center p-6">
		<div class="flex items-center flex-shrink-0 text-white mr-6">
			<a class="pingmu-banner" href="/">
				<img class="h-8" src = "/pingmu-banner-white.png" alt="Pingmu"/>
			</a>
		</div>
		<!-- <div class="hidden md:flex items-center space-x-4">
			<a href="#" class="text-gray-800 hover:text-blue-600">Home</a>
			<a href="#" class="text-gray-800 hover:text-blue-600">About</a>
			<a href="#" class="text-gray-800 hover:text-blue-600">Services</a>
			<a href="#" class="text-gray-800 hover:text-blue-600">Contact</a>
			<a href="#" class="bg-blue-600 text-white px-4 py-2 rounded-md">Sign Up</a>
		</div> -->
		<!-- <div class="md:hidden flex items-center">
			<button class="text-gray-800 focus:outline-none">
				<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
				</svg>
			</button>
		</div> -->
	</div>
</nav>
<div class="pt-20"></div>
