---
interface Props {
	title: string;
}
import '../styles/global.css';   

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/flavicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Outfit&family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
    body{
        box-sizing: border-box;
        margin: 0px;
        padding: 0;
        /* Set SVG as background */
        background-image: url('/bg-blobs.svg');
        /* background-image: url('/background-blobs.svg'); */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }


</style>
