---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
const { frontmatter } = Astro.props;
---

<Layout title = {frontmatter.title}>
    <section class="px-8 py-20">
            <slot />
    </section>
</Layout>

