---
import Layout from '../layouts/Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title = {frontmatter.title}>
    <section class="px-8 py-4 ">
            <slot />
    </section>
</Layout>

