---
import Layout from '../layouts/Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title = {frontmatter.title}>
    <section class="px-8 pt-4 pb-28">
            <slot />
    </section>
</Layout>

